<div class="entres">
  <div class="content">
  <div class="div">
    <div class="overlap">
      <div class="hero">
        <div class="overlap-2">
          <div class="content-2">
            <div class="cards">
              <!-- Container pour les recettes à glisser -->
              <div class="container" cdkDropList id="recettes" [cdkDropListConnectedTo]="['done']" [cdkDropListData]="recettes" (cdkDropListDropped)="dropRecetteDansCase($event)">
                <div class="row">
                  <!-- Boucle *ngFor pour afficher les recettes -->
                  <div class="col-md-3 mb-4" *ngFor="let recette of recettes">
                    <div class="card" cdkDrag [cdkDragData]="recette">
                      <img class="card-img-top" [src]="'assets/images/entree_images/img/' + recette.photo" alt="Image de la recette">
                      <div class="card-body">
                        <h5 class="card-title">{{ recette.nom }}</h5>
                      </div>
                    </div>
                  </div>
                  <!-- Fin de la boucle *ngFor -->
                </div>
              </div>
            </div>
            <div class="title">
              <div class="title-2">
                <div class="text-wrapper-6">Mes Recettes</div>
                <p class="d-couvrez-notre-d">
                  Découvrez notre délicieuse sélection d'entrée qui raviront vos papilles dès la première bouchée !
                </p>
              </div>
              <div class="button">
                <div class="button-base"><button [routerLink]="['/entree']" routerLinkActive="active" class="button-2">Entrée</button></div>
                <div class="button-base-2"><button [routerLink]="['/plat']" routerLinkActive="active" class="button-3">Plat</button></div>
                <div class="button-base-2"><button [routerLink]="['/boisson']" routerLinkActive="active" class="button-3">Boisson</button></div>
                <div class="button-base-2"><button [routerLink]="['/dessert']" routerLinkActive="active" class="button-3">Desserts</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-9">Mon calendrier</div>
        <br><br><br><br><br><br><br><br><br><br>
        <div class="content-3">
          <div class="text-wrapper-19">
            <!-- Tableau pour afficher les noms des recettes glissées -->
            <table class="container" cdkDropList id="done" [cdkDropListConnectedTo]="['recettes']" (cdkDropListDropped)="dropRecetteDansCase($event)">
              <thead>
                <tr>
                  <th></th>
                  <!-- Entêtes de colonnes pour les jours -->
                  <th *ngFor="let day of days">
                    <div class="date">{{ day.date | date:'dd/MM/yyyy' }}</div>
                    <div class="day">{{ day.name }}</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- Lignes pour les repas -->
                <tr *ngFor="let meal of meals; let mealIndex = index">
                  <td>{{ meal }}</td>
                  <ng-container *ngFor="let day of days; let dayIndex = index">
                    <td cdkDropList (cdkDropListDropped)="dropRecetteDansCase($event)">
                      <ng-container *ngIf="done[meals[mealIndex]] && done[meals[mealIndex]][day.name]">
                        <div *ngFor="let recette of done[meals[mealIndex]][day.name]" cdkDrag [cdkDragData]="recette">
                          {{ recette.nom }}
                        </div>
                      </ng-container>
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
            
            
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
