.login {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .login .div {
    background-color: #ffffff;
    width: 1600px;
    height: 2159px;
    position: relative;
  }
  

  .login .hero {
    position: absolute;
    width: 1600px;
    height: 1037px;
    top: 0;
    left: 0;
  }
  
  .login .overlap {
    position: relative;
    height: 1037px;
  }
  
  .login .bg {
    position: absolute;
    width: 1600px;
    height: 740px;
    top: 0;
    left: 0;
    background-color: var(--neutral-02);
  }
  
  .login .hero-2 {
    position: absolute;
    width: 1041px;
    height: 828px;
    top: 209px;
    left: 272px;
  }
  
  .login .title {
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
  }
  
  .login .nous-sommes-heureux {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--headline-h1-font-family);
    font-weight: var(--headline-h1-font-weight);
    color: #2b2e23;
    font-size: var(--headline-h1-font-size);
    text-align: center;
    letter-spacing: var(--headline-h1-letter-spacing);
    line-height: var(--headline-h1-line-height);
    font-style: var(--headline-h1-font-style);
  }
  
  .login .form {
    display: inline-flex;
    flex-direction: column;
    height: 586px;
    align-items: flex-start;
    gap: 10px;
    padding: 40px;
    position: absolute;
    top: 242px;
    left: 122px;
    background-color: #ffffff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: var(--2);
  }
  
  .login .box {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .login .row {
    display: flex;
    width: 717px;
    align-items: flex-end;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .login .element-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .login .div-wrapper {
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
  }
  
  .login .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--body-16px-bold-font-family);
    font-weight: var(--body-16px-bold-font-weight);
    color: #2b2e23;
    font-size: var(--body-16px-bold-font-size);
    letter-spacing: var(--body-16px-bold-letter-spacing);
    line-height: var(--body-16px-bold-line-height);
    white-space: nowrap;
    font-style: var(--body-16px-bold-font-style);
  }
  
  .login .button-base {
    display: flex;
    width: 350px;
    height: 60px;
    align-items: center;
    gap: 10px;
    padding: 0px 24px;
    position: relative;
    background-color: #ffffff;
    border-radius: 72px;
    border: 1px solid;
    border-color: var(--neutral-03);
  }
  
  .login .text-wrapper-5 {
    position: relative;
    width: fit-content;
    font-family: var(--body-16px-regular-font-family);
    font-weight: var(--body-16px-regular-font-weight);
    color: var(--neutral-05);
    font-size: var(--body-16px-regular-font-size);
    text-align: center;
    letter-spacing: var(--body-16px-regular-letter-spacing);
    line-height: var(--body-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--body-16px-regular-font-style);
  }
  
  .login .element-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -7px;
  }
  
  .login .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: #ad343e;
    border-radius: 118px;
  }
  
  .login .get-started-now {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: var(--neutral-01);
    font-size: 24px;
    text-align: right;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .login .je-n-ai-pas-de {
    position: relative;
    width: 717px;
    height: 77px;
    font-family: "DM Sans", Helvetica;
    font-weight: 700;
    color: #2b2e23;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  