:root {
  --neutral-07: rgba(24, 34, 38, 1);
  --neutral-06: rgba(65, 69, 54, 1);
  --neutral-02: rgba(249, 249, 247, 1);
  --neutral-01: rgba(255, 255, 255, 1);
  --neutral-03: rgba(219, 223, 208, 1);
  --template-colorsecondary: rgba(77, 89, 43, 1);
  --template-colorprimary: rgba(237, 87, 0, 1);
  --primarymain: rgba(238, 86, 34, 1);
  --headline-h2-font-family: "Playfair Display", Helvetica;
  --headline-h2-font-weight: 500;
  --headline-h2-font-size: 55px;
  --headline-h2-letter-spacing: 0px;
  --headline-h2-line-height: 60.5px;
  --headline-h2-font-style: normal;
  --headline-h3-font-family: "DM Sans", Helvetica;
  --headline-h3-font-weight: 700;
  --headline-h3-font-size: 24px;
  --headline-h3-letter-spacing: -0.72px;
  --headline-h3-line-height: 30px;
  --headline-h3-font-style: normal;
  --body-18px-regular-font-family: "DM Sans", Helvetica;
  --body-18px-regular-font-weight: 400;
  --body-18px-regular-font-size: 18px;
  --body-18px-regular-letter-spacing: 0px;
  --body-18px-regular-line-height: 28px;
  --body-18px-regular-font-style: normal;
  --body-16px-bold-font-family: "DM Sans", Helvetica;
  --body-16px-bold-font-weight: 700;
  --body-16px-bold-font-size: 16px;
  --body-16px-bold-letter-spacing: 0px;
  --body-16px-bold-line-height: 24px;
  --body-16px-bold-font-style: normal;
  --body-16px-regular-font-family: "DM Sans", Helvetica;
  --body-16px-regular-font-weight: 400;
  --body-16px-regular-font-size: 16px;
  --body-16px-regular-letter-spacing: 0px;
  --body-16px-regular-line-height: 24px;
  --body-16px-regular-font-style: normal;
  --body-16px-medium-font-family: "Inter", Helvetica;
  --body-16px-medium-font-weight: 500;
  --body-16px-medium-font-size: 16px;
  --body-16px-medium-letter-spacing: 0px;
  --body-16px-medium-line-height: 24px;
  --body-16px-medium-font-style: normal;
}
