
<div class="homepage">
    <div class="div">
      <div class="testimonial">
        <div class="content">
          <div class="title"><div class="text-wrapper">Témoignages de nos clients</div></div>
          <div class="card">
            <div class="element">
              <div class="content-2">
                <div class="text">
                  <div class="text-wrapper-2">“Simple et Délicieux”</div>
                  <p class="p">
                    Les recettes sont incroyablement faciles à suivre, même pour un débutant en cuisine comme moi. Les
                    résultats sont toujours délicieux !
                  </p>
                </div>
                <img class="line" src="assets/images/index_images/img/line-310-2.svg" />
                <div class="user">
                  <img class="img" src="assets/images/index_images/img/ellipse-19.png" />
                  <div class="text-2">
                    <div class="text-wrapper-3">Abid Jordan</div>
                    <div class="text-wrapper-4">Paris, FR</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="element">
              <div class="content-3">
                <div class="text">
                  <div class="text-wrapper-5">“Économique”</div>
                  <p class="p">
                    La planification des repas m&#39;a fait économiser du temps et du stress. Je recommande vivement!
                  </p>
                </div>
                <img class="line" src="assets/images/index_images/img/line-310-2.svg" />
                <div class="user-2">
                  <img class="img" src="assets/images/index_images/img/image.png" />
                  <div class="text-2">
                    <div class="text-wrapper-3">Eric Sultan</div>
                    <div class="text-wrapper-4">Lile, FR</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="element">
              <div class="content-4">
                <div class="text"><div class="text-wrapper-5">“Impeccable”</div></div>
                <p class="p">
                  Les plats sont toujours frais et savoureux. Je suis impressionné par la variété des options
                  proposées chaque semaine!
                </p>
                <img class="line" src="assets/images/index_images/img/line-310-2.svg" />
                <div class="user">
                  <img class="img" src="assets/images/index_images/img/image-1.png" />
                  <div class="text-2">
                    <div class="text-wrapper-3">Abid Jérémy</div>
                    <div class="text-wrapper-4">Cannes, FR</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="overlap">
        <div class="menu">
          <div class="overlap-group">
            <div class="bg"></div>
            <div class="card-wrapper">
              <div class="card-2">
                <div class="div-wrapper">
                  <div class="text-3">
                    <div class="icon">
                      <div class="overlap-group-2">
                        <div class="ellipse"></div>
                        <div class="frame"><img class="image" src="assets/images/index_images/img/image-113.png" /></div>
                      </div>
                    </div>
                    <div class="text-4">
                      <div class="text-wrapper-6">Entrées</div>
                      <p class="d-couvrez-une-vari-t">
                        Découvrez une variété d&#39;entrées appétissantes pour démarrer votre repas en beauté. Des
                        salades fraîches aux hors-d&#39;œuvre créatifs, trouvez l&#39;inspiration pour combler vos
                        papilles dès le premier coup de fourchette.
                      </p>
                    </div>
                    <div class="button-base"><button class="button">Menu</button></div>
                  </div>
                </div>
                <div class="overlap-wrapper">
                  <div class="overlap-2">
                    <div class="bg-2"></div>
                    <div class="text-5">
                      <img class="icon-2" src="assets/images/index_images/img/icon.png" />
                      <div class="text-6">
                        <div class="text-wrapper-6">Plats</div>
                        <p class="explorez-notre-s">
                          Explorez notre sélection de plats savoureux, allant des classiques réconfortants aux
                          créations culinaires audacieuses. Que vous soyez amateur de viande, de poisson ou de plats
                          végétariens, trouvez ici l&#39;inspiration pour des repas mémorables à partager en famille
                          ou entre amis.
                        </p>
                      </div>
                      <div class="button-base-2"><button class="button-2">Menu</button></div>
                    </div>
                  </div>
                </div>
                <div class="element-2">
                  <div class="text-7">
                    <div class="overlap-group-wrapper">
                      <div class="overlap-group-2">
                        <div class="ellipse"></div>
                        <img class="vector" src="assets/images/index_images/img/vector.svg" />
                      </div>
                    </div>
                    <div class="text-8">
                      <div class="text-wrapper-6">Boissons</div>
                      <p class="d-couvrez-notre">
                        Découvrez notre gamme rafraîchissante de boissons, des cocktails exotiques aux smoothies
                        revitalisants. Qu&#39;il s&#39;agisse d&#39;accompagner votre repas ou de simplement vous
                        désaltérer, trouvez votre boisson parfaite pour compléter votre expérience culinaire.
                      </p>
                    </div>
                    <div class="button-base-3"><button class="button-2">Menu</button></div>
                  </div>
                </div>
                <div class="element-3">
                  <div class="text-9">
                    <div class="icon-3">
                      <div class="overlap-group-2">
                        <div class="ellipse"></div>
                        <img class="group" src="assets/images/index_images/img/group.png" />
                      </div>
                    </div>
                    <div class="text-10">
                      <div class="text-wrapper-6">Desserts</div>
                      <p class="text-wrapper-7">
                        Terminez votre repas en beauté avec nos délicieux desserts. Des gâteaux somptueux aux desserts
                        légers et fruités, laissez-vous tenter par une touche sucrée de fin de repas. Découvrez nos
                        recettes alléchantes pour combler vos envies de douceurs.
                      </p>
                    </div>
                    <div class="button-base-4"><button class="button-2">Menu</button></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-wrapper-8">Nos Recettes</div>
      </div>
      <img class="hero" src="assets/images/index_images/img/hero.png" />
    </div>
<div>