.sign-up {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.sign-up .div {
  background-color: #ffffff;
  width: 1600px;
  height: 2159px;
  position: relative;
}

.sign-up .footer {
  position: absolute;
  width: 1600px;
  height: 778px;
  top: 1381px;
  left: 0;
  background-color: transparent;
}

.sign-up .overlap-group {
  position: relative;
  width: 1600px;
  height: 778px;
  top: -7px;
  left: 10px;
  background-color: #474747;
}

.sign-up .content {
  position: absolute;
  width: 1314px;
  height: 422px;
  top: 210px;
  left: 143px;
}

.sign-up .bottom {
  position: absolute;
  width: 1314px;
  height: 1px;
  top: 421px;
  left: 0;
  background-image: url(./img/line-311.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.sign-up .top {
  display: flex;
  width: 566px;
  align-items: flex-start;
  justify-content: space-between;
  left: 105px;
  position: absolute;
  top: 0;
}

.sign-up .col {
  flex-direction: column;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
}

.sign-up .logo {
  position: relative;
  width: 78px;
  height: 70px;
  object-fit: cover;
}

.sign-up .social {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .element {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #ad343e;
  border-radius: 17.5px;
}

.sign-up .logo-twitter {
  position: absolute;
  width: 14px;
  height: 11px;
  top: 12px;
  left: 11px;
}

.sign-up .logo-fb-simple {
  position: absolute;
  width: 8px;
  height: 15px;
  top: 10px;
  left: 14px;
}

.sign-up .logo-instagram {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 9px;
  left: 9px;
}

.sign-up .logo-github {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 10px;
}

.sign-up .original-logo-wrapper {
  position: relative;
  width: 211.83px;
  height: 49px;
}

.sign-up .original-logo {
  position: relative;
  width: 212px;
  height: 49px;
}

.sign-up .cuisine {
  top: 4px;
  left: 48px;
  color: #ffffff;
  font-size: 32.7px;
  position: absolute;
  font-family: "Playfair Display", Helvetica;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -0.4px;
  line-height: 29.3px;
  white-space: nowrap;
}

.sign-up .col-2 {
  gap: 120px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
}

.sign-up .col-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: #ffffff;
  font-size: var(--body-16px-bold-font-size);
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-bold-font-style);
}

.sign-up .list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-03);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.sign-up .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-03);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.sign-up .col-4 {
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 210px;
  left: 1026px;
  display: inline-flex;
  align-items: flex-start;
}

.sign-up .p {
  position: relative;
  width: 299px;
  height: 32px;
  margin-top: -1px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: #ffffff;
  font-size: var(--body-16px-bold-font-size);
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  font-style: var(--body-16px-bold-font-style);
}

.sign-up .img {
  position: relative;
  width: 403px;
  height: 355px;
}

.sign-up .mask-group {
  position: absolute;
  width: 194px;
  height: 170px;
  top: 0;
  left: 0;
}

.sign-up .mask-group-2 {
  top: 0;
  left: 209px;
  position: absolute;
  width: 194px;
  height: 170px;
}

.sign-up .mask-group-3 {
  top: 185px;
  left: 0;
  position: absolute;
  width: 194px;
  height: 170px;
}

.sign-up .mask-group-4 {
  top: 185px;
  left: 209px;
  position: absolute;
  width: 194px;
  height: 170px;
}

.sign-up .overlap {
  position: absolute;
  width: 953px;
  height: 791px;
  top: 203px;
  left: 289px;
}

.sign-up .hero {
  position: absolute;
  width: 953px;
  height: 791px;
  top: 0;
  left: 0;
}

.sign-up .form-wrapper {
  height: 791px;
}

.sign-up .form {
  display: flex;
  flex-direction: column;
  width: 834px;
  height: 502px;
  align-items: flex-start;
  gap: 10px;
  padding: 40px;
  position: relative;
  top: 289px;
  left: 119px;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: var(--2);
}

.sign-up .box-wrapper {
  display: flex;
  flex-direction: column;
  width: 864px;
  height: 340px;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  margin-right: -110px;
}

.sign-up .box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: -216px;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .row {
  display: flex;
  width: 717px;
  align-items: flex-end;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .element-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .title {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: #2b2e23;
  font-size: var(--body-16px-bold-font-size);
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-bold-font-style);
}

.sign-up .button-base {
  display: flex;
  width: 350px;
  height: 60px;
  align-items: center;
  gap: 10px;
  padding: 0px 24px;
  position: relative;
  background-color: #ffffff;
  border-radius: 72px;
  border: 1px solid;
  border-color: var(--neutral-03);
}

.sign-up .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-05);
  font-size: var(--body-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.sign-up .element-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -7px;
}

.sign-up .row-2 {
  position: relative;
  width: 717px;
  flex: 0 0 auto;
}

.sign-up .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ad343e;
  border-radius: 118px;
}

.sign-up .get-started-now {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: var(--neutral-01);
  font-size: var(--body-16px-bold-font-size);
  text-align: right;
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-bold-font-style);
}

.sign-up .text-wrapper-6 {
  position: absolute;
  top: 63px;
  left: 241px;
  font-family: var(--headline-h1-font-family);
  font-weight: var(--headline-h1-font-weight);
  color: #2b2e23;
  font-size: var(--headline-h1-font-size);
  text-align: center;
  letter-spacing: var(--headline-h1-letter-spacing);
  line-height: var(--headline-h1-line-height);
  white-space: nowrap;
  font-style: var(--headline-h1-font-style);
}

.sign-up .header {
  position: absolute;
  width: 1600px;
  height: 129px;
  top: 0;
  left: 0;
}

.sign-up .top-bar {
  width: 1600px;
  height: 45px;
  left: 0;
  background-color: #474747;
  position: absolute;
  top: 0;
}

.sign-up .social-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 9px;
  left: 1325px;
}

.sign-up .img-wrapper {
  position: relative;
  width: 27.17px;
  height: 27.17px;
  background-color: #f8f8f61f;
  border-radius: 13.59px;
}

.sign-up .logo-twitter-2 {
  position: absolute;
  width: 11px;
  height: 9px;
  top: 10px;
  left: 9px;
}

.sign-up .logo-fb-simple-2 {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.sign-up .logo-instagram-2 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 7px;
  left: 7px;
}

.sign-up .logo-github-2 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 7px;
  left: 8px;
}

.sign-up .info {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 11px;
  left: 150px;
}

.sign-up .div-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.sign-up .img-2 {
  position: relative;
  width: 18px;
  height: 18px;
}

.sign-up .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-02);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.sign-up .overlap-2 {
  position: absolute;
  width: 1467px;
  height: 74px;
  top: 55px;
  left: 111px;
}

.sign-up .header-2 {
  position: absolute;
  width: 1293px;
  height: 55px;
  top: 19px;
  left: 40px;
}

.sign-up .logo-2 {
  position: absolute;
  width: 183px;
  height: 39px;
  top: 8px;
  left: 28px;
}

.sign-up .original-logo-2 {
  position: relative;
  height: 39px;
}

.sign-up .cuisine-2 {
  top: 3px;
  left: 41px;
  color: #474747;
  font-size: 42.7px;
  position: absolute;
  font-family: "Playfair Display", Helvetica;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -0.4px;
  line-height: 29.3px;
  white-space: nowrap;
}

.sign-up .menu {
  width: 569px;
  height: 32px;
  left: 568px;
  position: absolute;
  top: 0;
}

.sign-up .overlap-group-2 {
  position: relative;
  height: 32px;
}

.sign-up .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 0;
  background-color: #dbdfd0;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.sign-up .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-medium-font-family);
  font-weight: var(--body-16px-medium-font-weight);
  color: #2b2e23;
  font-size: var(--body-16px-medium-font-size);
  letter-spacing: var(--body-16px-medium-letter-spacing);
  line-height: var(--body-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-medium-font-style);
}

.sign-up .menu-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 85px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.sign-up .menu-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 172px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.sign-up .menu-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 254px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.sign-up .menu-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 331px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.sign-up .menu-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 433px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.sign-up .button-wrapper {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 264px;
  height: 48px;
  top: 11px;
  left: 1203px;
}

.sign-up .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  border-radius: 118px;
  border: 1.5px solid;
  border-color: #2b2e23;
}

.sign-up .img-3 {
  position: relative;
  width: 16px;
  height: 16px;
}

.sign-up .get-started-now-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: var(--neutral-07);
  font-size: var(--body-16px-bold-font-size);
  text-align: right;
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-bold-font-style);
}

.sign-up .logo-3 {
  position: absolute;
  width: 78px;
  height: 70px;
  top: 0;
  left: 0;
  object-fit: cover;
}
