<div class="entres">
    <div class="div">

        <div class="overlap">
            <div class="hero">
              <div class="overlap-2">
                <div class="content-2">
                  <div class="cards">
                    <div class="element-2">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-8.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Fried Eggs</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-3">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-9.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Hawaiian Pizza</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-4">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-10.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Martinez Cocktail</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-5">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-11.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Butterscotch Cake</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-6">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-12.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Mint Lemonade</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-7">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-13.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Chocolate Icecream</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-8">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-14.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Cheese Burger</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                    <div class="element-9">
                      <img class="mask-group-5" src="assets/images/entree_images/img/mask-group-15.png" />
                      <div class="text">
                        <div class="text-wrapper-4">Classic Waffles</div>
                        <p class="text-wrapper-5">Made with eggs, lettuce, salt, oil and other ingredients.</p>
                      </div>
                    </div>
                  </div>
                  <div class="title">
                    <div class="title-2">
                      <div class="text-wrapper-6">Mes Recettes</div>
                      <p class="d-couvrez-notre-d">
                        Découvrez notre délicieuse sélection d&#39;entrée qui raviront vos papilles dès la
                        première bouchée !
                      </p>
                    </div>
                    <div class="button">
                      <div class="button-base"><button [routerLink]="['/entree']" routerLinkActive="active" class="button-2">Entrée</button></div>
                      <div class="button-base-2"><button  [routerLink]="['/plat']" routerLinkActive="active" class="button-3">Plat</button></div>
                      <div class="button-base-2"><button  [routerLink]="['/boisson']" routerLinkActive="active" class="button-3">Boisson</button></div>
                      <div class="button-base-2"><button  [routerLink]="['/dessert']" routerLinkActive="active" class="button-3">Desserts</button></div>
                    </div>
                  </div>
                </div>
  </div> 
  <div class="text-wrapper-9">Mon calendrier</div>
  <br><br><br><br><br><br><br><br><br><br>
  <div class="content-3">
  <div class="text-wrapper-19">
    <table>
      <!-- <caption>
        Mon calendrier
      </caption>  -->       
      <thead>
        <tr>
          <th></th>
          <th>Lundi <br>22/04/2024</th>
          <th>Mardi <br>23/04/2024</th>
          <th>Mercredi <br>24/04/2024</th>
          <th>Jeudi <br>25/04/2024</th>
          <th>Vendredi <br>26/04/2024</th>
          <th>Samedi <br>27/04/2024</th>
          <th>Dimanche <br>28/04/2024</th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>PETIT-DÉJEUNER</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>DÉJEUNER</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>GOÛTER</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>DÎNER</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
          </div>

    </div>
</div>
