<div class="liste-ingredients">
    <div class="div">

        <div class="overlap">
            <div class="hero">
  
  
              <div class="overlap-2">
                <div class="bg"></div>
                <div class="content-2">
  
  
                  <div class="overlap-3">
                    <div class="cards">
  
  
                      <div class="element-1">
                        <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-8.png" />
                        <div class="text">
                          <div class="text-wrapper-4">Tomate</div>
                          <input type="checkbox" id="fried-eggs" name="fried-eggs">
                          <label for="fried-eggs"></label>
                        </div>
                      </div>
  
  
                      <div class="element-2">
                        <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-9.png" />
                        <div class="text">
                          <div class="text-wrapper-4">Pomme de terre</div>
                          <input type="checkbox" id="hawaiian-pizza" name="hawaiian-pizza">
                          <label for="hawaiian-pizza"></label>
                        </div>
                      </div>
  
  
                      <div class="element-3">
                        <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-10.png" />
                        <div class="text">
                          <div class="text-wrapper-4">Carotte</div>
                          <input type="checkbox" id="martinez-cocktail" name="martinez-cocktail">
                          <label for="martinez-cocktail"></label>
                        </div>
                      </div>
  
  
                      <div class="element-4">
                        <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-11.png" />
                        <div class="text">
                          <div class="text-wrapper-4">Pâtes</div>
                          <input type="checkbox" id="butterscotch-cake" name="butterscotch-cake">
                          <label for="butterscotch-cake"></label>
                        </div>
                      </div>
                    
                  </div>
  
                   
                     
                        <div class="element-5">
                          <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-12.png" />
                          <div class="text">
                            <div class="text-wrapper-4">Fraise</div>
                            <input type="checkbox" id="Mint Lemonade" name="Mint Lemonade">
                            <label for="Mint Lemonade"></label>
                          </div>
                        </div>
  
  
                        <div class="element-6">
                          <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-13.png" />
                          <div class="text">
                            <div class="text-wrapper-4">Oignon</div>
                            <input type="checkbox" id="Chocolate Icecream" name="Chocolate Icecream">
                            <label for="Chocolate Icecream"></label>
                          </div>
                        </div>
  
                      
                      <div class="element-7">
                        <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-14.png" />
                        <div class="text">
                          <div class="text-wrapper-4">Les épices</div>
                          <input type="checkbox" id="les-epices" name="les-epices">
                          <label for="les-epices"></label>
                        </div>
                      </div>
  
                      <div class="element-8">
                        <img class="mask-group-5" src="assets/images/ingredient_images/img/mask-group-15.png" />
                        <div class="text">
                          <div class="text-wrapper-4">Farine</div>
                          <input type="checkbox" id="classic-waffles" name="classic-waffles">
                          <label for="classic-waffles"></label>
                        </div>
                      </div>
                      </div>
                
                      
  <h2>Ma liste des courses</h2>
  <table>
    <thead>
      <tr>
        <th>Ingrédient</th>
        <th>Ajouter à la liste</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Oeufs</td>
        <td><input type="checkbox" id="ingredient1" name="ingredient1"></td>
      </tr>
      <tr>
        <td>Lait</td>
        <td><input type="checkbox" id="ingredient2" name="ingredient2"></td>
      </tr>
      <tr>
        <td>Pain</td>
        <td><input type="checkbox" id="ingredient3" name="ingredient3"></td>
      </tr>
      <!-- Ajoutez d'autres lignes pour plus d'ingrédients -->
    </tbody>
  </table>
                    
                  <!--fin overlap 3-->
                  
  
  
                  <div class="title">
                    <div class="div-wrapper"><div class="assets/images/ingredient_images/text-wrapper-7">Ingrédients</div></div>
                    <div class="button">
                      <div class="button-base"><button class="button-2">Entrée</button></div>
                      <div class="button-base-2"><button class="button-3">Plat</button></div>
                      <div class="button-base-2"><button class="button-3">Boisson</button></div>
                      <div class="button-base-2"><button class="button-3">Desserts</button></div>
                    </div>
                  </div>
                  
                </div>


            </div>
         
         
        </div>
      </div>
      

      <!--fin overlap-->
    </div>
</div>