<div class="liste-ingredients">
  <div class="div">
    <div class="overlap">
      <div class="hero">
        <div class="overlap-2">
          <!-- <div class="bg"></div> -->
          <div class="content-2">
            <!-- <div class="overlap-3"> -->
              <div class="cards">

                <!--test ingredient-->
                <div class="container">
                  <div class="row">
                    <!-- Boucle *ngFor pour afficher les ingredient -->
                    <div class="col-md-3 mb-4" *ngFor="let ingredient of ingredients">
                      <div class="card">
                        <img class="card-img-top" [src]="'assets/images/ingredient_images/img/' + ingredient.photo"
                          alt="Image de l'ingredient">
                        <div class="card-body">
                          <h5 class="card-title">{{ ingredient.nom }}</h5>
                          <!-- Checkbox pour choisir l'ingrédient -->
                          <input type="checkbox" [(ngModel)]="ingredient.checked" [checked]="true">
                        </div>
                      </div>
                    </div>
                    <!-- Fin de la boucle *ngFor -->
                  </div>
                </div>
                <!---->
              </div>

              <h2>Ma liste des courses</h2>
              <table>
                <thead>
                  <tr>
                    <th>Ingrédient</th>
                    <th>Ajouter à la liste</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Oeufs</td>
                    <td><input type="checkbox" id="ingredient1" name="ingredient1"></td>
                  </tr>
                  <tr>
                    <td>Lait</td>
                    <td><input type="checkbox" id="ingredient2" name="ingredient2"></td>
                  </tr>
                  <tr>
                    <td>Pain</td>
                    <td><input type="checkbox" id="ingredient3" name="ingredient3"></td>
                  </tr>
                  <!-- Ajoutez d'autres lignes pour plus d'ingrédients -->
                </tbody>
              </table>

              <!--fin overlap 3-->

              <!-- <div class="title">
                <div class="div-wrapper">
                  <div class="assets/images/ingredient_images/text-wrapper-7">Ingrédients</div>
                </div>
                <div class="button">
                  <div class="button-base"><button class="button-2">Entrée</button></div>
                  <div class="button-base-2"><button class="button-3">Plat</button></div>
                  <div class="button-base-2"><button class="button-3">Boisson</button></div>
                  <div class="button-base-2"><button class="button-3">Desserts</button></div>
                </div>
              </div> -->

            </div>

          </div>

        </div>
      </div>
      <!--fin overlap-->
    </div>
  </div>
