
<div class="about">
    <div class="div">
<div class="content-wrapper">
    <div class="content-2"> 
      <div class="video-container">
        <video controls>
            <source src="assets/videos/fougasse.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- <div class="title">
          <p class="feel-the-authentic">Nos recettes sont originales et succulentes.</p>
      </div> -->
    </div>
      <!--<div class="features">
        <div class="element-2">
          <img class="img-3" src="assets/images/about_images/img/restaurant-menu-1.svg" />
          <div class="text">
            <div class="text-wrapper-4">Multi Cuisine</div>
            <p class="text-wrapper-5">In the new era of technology we look in the future with certainty life.</p>
          </div>
        </div>
        <div class="element-2">
          <img class="img-3" src="assets/images/about_images/img/icon.svg" />
          <div class="text">
            <div class="text-wrapper-4">Easy To Order</div>
            <p class="text-wrapper-5">In the new era of technology we look in the future with certainty life.</p>
          </div>
        </div>
        <div class="element-2">
          <img class="img-3" src="assets/images/about_images/img/timer-1.svg" />
          <div class="text">
            <div class="text-wrapper-4">Fast Delivery</div>
            <p class="text-wrapper-5">In the new era of technology we look in the future with certainty life.</p>
          </div>
        </div>
      </div>-->
    </div>
  </div>

  <div class="overlap">
    <div class="hero">

  <div class="content-3">
    <div class="overlap-group-wrapper">
      <div class="overlap-group-3">
        <div class="image"><img class="image-2" src="assets/images/about_images/img/image-111.png" /></div>
        <div class="card">
          <div class="text-2">
            <div class="text-wrapper-8">Nos infos</div>
            <div class="info-2">
              <div class="div-4">
                <img class="img-6" src="assets/images/about_images/img/icon-outline-phone-3.svg" />
                <p class="text-wrapper-6">+33 01 10 20 30 40</p>
              </div>
              <div class="div-4">
                <img class="img-6" src="assets/images/about_images/img/icon-outline-mail-3.svg" />
                <div class="text-wrapper-6">contactplaniplat.com</div>
              </div>
              <div class="div-4">
                <img class="img-6" src="assets/images/about_images/img/icon-outline-location-marker-1.svg" />
                <p class="text-wrapper-9">837 W. Marshall Lane Marshalltown, IA 50158, Los Angeles</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-2">
      <div class="title-2">
        <p class="text-wrapper-10">Nous vous proposons des repas équilibrés pour toute la famille.</p>
        <p class="nous-sommes-une">
          Nous sommes une équipe passionnée dévouée à simplifier votre quotidien culinaire grâce à notre
          plateforme conviviale de planification de repas. Notre objectif est de vous offrir une expérience sans
          stress, où vous pouvez facilement planifier vos repas pour la semaine, découvrir de nouvelles recettes
          alléchantes et gérer efficacement votre liste de courses. Rejoignez-nous dès aujourd&#39;hui et
          laissez-nous vous aider à rendre la planification des repas plus simple que jamais
        </p>
      </div>
      <div class="button-3"><p class="get-started-now">En savoir plus sur nous</p></div>
    </div>
  </div>

</div>
</div>

</div>
</div>

