<div class="sign-up">
    <div class="div">
        <div class="overlap">
            <div class="hero">
              <div class="form-wrapper">
                <div class="form">
                  <div class="box-wrapper">
                    <div class="box">
                      <div class="row">
                        <div class="element-2">
                          <div class="title"><div class="text-wrapper-4">Nom</div></div>
                          <div class="button-base"><div class="text-wrapper-5">Entrer votre nom</div></div>
                        </div>
                        <div class="element-3">
                          <div class="title"><div class="text-wrapper-4">Prenom</div></div>
                          <div class="button-base"><div class="text-wrapper-5">Enter votre adresse email</div></div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="element-2">
                          <div class="title"><div class="text-wrapper-4">Email</div></div>
                          <div class="button-base"><div class="text-wrapper-5">Entrer votre nom</div></div>
                        </div>
                        <div class="element-3">
                          <div class="title"><div class="text-wrapper-4">Mot de Passe</div></div>
                          <div class="button-base"><div class="text-wrapper-5">Enter votre adresse email</div></div>
                        </div>
                      </div>
                      <div class="row-2"></div>
                      <button class="button"><div class="get-started-now">Envoyer</div></button>
                      <div class="row-2"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-wrapper-6">Je m’inscris</div>
          </div>
    </div>
</div>
