.about {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about .div {
  overflow: hidden;
  width: 1600px;
  height: 2676px;
  position: relative;
}

.about .footer {
  position: absolute;
  width: 1600px;
  height: 778px;
  top: 1905px;
  left: 0;
  background-color: transparent;
}

.about .overlap-group {
  position: relative;
  width: 1600px;
  height: 778px;
  top: -7px;
  left: 10px;
  background-color: #474747;
}

.about .content {
  position: absolute;
  width: 1314px;
  height: 422px;
  top: 210px;
  left: 143px;
}

.about .bottom {
  position: absolute;
  width: 1314px;
  height: 1px;
  top: 421px;
  left: 0;
  background-image: url(./img/line-311.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.about .top {
  display: flex;
  width: 566px;
  align-items: flex-start;
  justify-content: space-between;
  left: 105px;
  position: absolute;
  top: 0;
}

.about .col {
  flex-direction: column;
  gap: 30px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
}

.about .logo {
  position: relative;
  width: 78px;
  height: 70px;
  object-fit: cover;
}

.about .social {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.about .element {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #ad343e;
  border-radius: 17.5px;
}

.about .logo-twitter {
  position: absolute;
  width: 14px;
  height: 11px;
  top: 12px;
  left: 11px;
}

.about .logo-fb-simple {
  position: absolute;
  width: 8px;
  height: 15px;
  top: 10px;
  left: 14px;
}

.about .logo-instagram {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 9px;
  left: 9px;
}

.about .logo-github {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 10px;
}

.about .original-logo-wrapper {
  position: relative;
  width: 211.83px;
  height: 49px;
}

.about .original-logo {
  position: relative;
  width: 212px;
  height: 49px;
}

.about .cuisine {
  top: 4px;
  left: 48px;
  color: #ffffff;
  font-size: 32.7px;
  position: absolute;
  font-family: "Playfair Display", Helvetica;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -0.4px;
  line-height: 29.3px;
  white-space: nowrap;
}

.about .col-2 {
  gap: 120px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
}

.about .div-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.about .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: var(--neutral-01);
  font-size: var(--body-16px-bold-font-size);
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-bold-font-style);
}

.about .list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.about .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-03);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.about .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-03);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.about .col-3 {
  flex-direction: column;
  gap: 40px;
  position: absolute;
  top: 210px;
  left: 1026px;
  display: inline-flex;
  align-items: flex-start;
}

.about .p {
  position: relative;
  width: 299px;
  height: 32px;
  margin-top: -1px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: var(--neutral-01);
  font-size: var(--body-16px-bold-font-size);
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  font-style: var(--body-16px-bold-font-style);
}

.about .img {
  position: relative;
  width: 403px;
  height: 355px;
}

.about .mask-group {
  position: absolute;
  width: 194px;
  height: 170px;
  top: 0;
  left: 0;
}

.about .mask-group-2 {
  top: 0;
  left: 209px;
  position: absolute;
  width: 194px;
  height: 170px;
}

.about .mask-group-3 {
  top: 185px;
  left: 0;
  position: absolute;
  width: 194px;
  height: 170px;
}

.about .mask-group-4 {
  top: 185px;
  left: 209px;
  position: absolute;
  width: 194px;
  height: 170px;
}

.about .content-wrapper {
  position: absolute;
  width: 1600px;
  height: 955px;
  top: 950px;
  left: 0;
  background-color: var(--neutral-01);
}

.about .content-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  position: relative;
}

.about .img-2 {
  position: relative;
  width: 1600px;
  height: 690px;
  background-image: url(./img/bg.png);
  background-size: 100% 100%;
}

.about .title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 225px;
  position: absolute;
  top: 354px;
  left: 502px;
}

.about .feel-the-authentic {
  position: relative;
  width: 596px;
  margin-top: -1px;
  font-family: var(--headline-h2-font-family);
  font-weight: var(--headline-h2-font-weight);
  color: var(--neutral-01);
  font-size: var(--headline-h2-font-size);
  text-align: center;
  letter-spacing: var(--headline-h2-letter-spacing);
  line-height: var(--headline-h2-line-height);
  font-style: var(--headline-h2-font-style);
}

.about .play {
  position: absolute;
  width: 106px;
  height: 106px;
  top: 214px;
  left: 747px;
  background-color: var(--neutral-01);
  border-radius: 53px;
}

.about .vector {
  position: absolute;
  width: 17px;
  height: 21px;
  top: 43px;
  left: 47px;
}

.about .features {
  gap: 87px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.about .element-2 {
  gap: 24px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.about .img-3 {
  position: relative;
  width: 48px;
  height: 48px;
}

.about .text {
  gap: 16px;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.about .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-20px-bold-font-family);
  font-weight: var(--body-20px-bold-font-weight);
  color: #2b2e23;
  font-size: var(--body-20px-bold-font-size);
  text-align: center;
  letter-spacing: var(--body-20px-bold-letter-spacing);
  line-height: var(--body-20px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-20px-bold-font-style);
}

.about .text-wrapper-5 {
  position: relative;
  width: 294px;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-06);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  font-style: var(--body-16px-regular-font-style);
}

.about .overlap {
  position: absolute;
  width: 1600px;
  height: 950px;
  top: 0;
  left: 0;
}

.about .hero {
  position: absolute;
  width: 1600px;
  height: 950px;
  top: 0;
  left: 0;
  background-color: var(--neutral-02);
}

.about .header {
  position: relative;
  height: 129px;
}

.about .top-bar {
  width: 1600px;
  height: 45px;
  left: 0;
  background-color: #474747;
  position: absolute;
  top: 0;
}

.about .social-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: 9px;
  left: 1325px;
}

.about .img-wrapper {
  position: relative;
  width: 27.17px;
  height: 27.17px;
  background-color: #f8f8f61f;
  border-radius: 13.59px;
}

.about .logo-twitter-2 {
  position: absolute;
  width: 11px;
  height: 9px;
  top: 10px;
  left: 9px;
}

.about .logo-fb-simple-2 {
  position: absolute;
  width: 6px;
  height: 12px;
  top: 8px;
  left: 11px;
}

.about .logo-instagram-2 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 7px;
  left: 7px;
}

.about .logo-github-2 {
  position: absolute;
  width: 13px;
  height: 12px;
  top: 7px;
  left: 8px;
}

.about .info {
  display: inline-flex;
  align-items: flex-start;
  gap: 25px;
  position: absolute;
  top: 11px;
  left: 150px;
}

.about .div-3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.about .img-4 {
  position: relative;
  width: 18px;
  height: 18px;
}

.about .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-02);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-regular-font-style);
}

.about .overlap-2 {
  position: absolute;
  width: 1467px;
  height: 74px;
  top: 55px;
  left: 111px;
}

.about .header-2 {
  position: absolute;
  width: 1293px;
  height: 55px;
  top: 19px;
  left: 40px;
}

.about .logo-2 {
  position: absolute;
  width: 183px;
  height: 39px;
  top: 8px;
  left: 28px;
}

.about .original-logo-2 {
  position: relative;
  height: 39px;
}

.about .cuisine-2 {
  top: 3px;
  left: 41px;
  color: #474747;
  font-size: 42.7px;
  position: absolute;
  font-family: "Playfair Display", Helvetica;
  font-weight: 600;
  font-style: italic;
  letter-spacing: -0.4px;
  line-height: 29.3px;
  white-space: nowrap;
}

.about .menu {
  width: 569px;
  height: 32px;
  left: 568px;
  position: absolute;
  top: 0;
}

.about .overlap-group-2 {
  position: relative;
  height: 32px;
}

.about .div-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 0;
  background-color: #dbdfd0;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.about .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-16px-medium-font-family);
  font-weight: var(--body-16px-medium-font-weight);
  color: #2b2e23;
  font-size: var(--body-16px-medium-font-size);
  letter-spacing: var(--body-16px-medium-letter-spacing);
  line-height: var(--body-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-medium-font-style);
}

.about .menu-2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 85px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.about .menu-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 172px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.about .menu-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 254px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.about .menu-5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 331px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}

.about .menu-6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 16px;
  left: 433px;
  border-radius: 34px;
  position: absolute;
  top: 0;
}
/* 
.about .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 264px;
  height: 48px;
  top: 11px;
  left: 1203px;
}

.about .button-2 {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: relative;
  border-radius: 118px;
  border: 1.5px solid;
  border-color: #2b2e23;
} */

/******************correction boutton */
#button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 24px;
  position: absolute;
  width: 264px;
  height: 48px;
  top: 11px;
  left: 1203px;
  border-radius: 118px;
  border: 1.5px solid #2b2e23;
}

#button-wrapper .img-3 {
  max-width: 100%;
  height: auto;
}

#button-wrapper .get-started-now {
  font-size: 16px;
  line-height: 1.5;
  color: #2b2e23;
  font-weight: bold;
  text-transform: uppercase;
}

 /*********************************/



.about .img-5 {
  position: relative;
  width: 16px;
  height: 16px;
}

.about .get-started-now {
  position: relative;
  width: fit-content;
  margin-top: -1.5px;
  font-family: var(--body-16px-bold-font-family);
  font-weight: var(--body-16px-bold-font-weight);
  color: var(--neutral-07);
  font-size: var(--body-16px-bold-font-size);
  text-align: right;
  letter-spacing: var(--body-16px-bold-letter-spacing);
  line-height: var(--body-16px-bold-line-height);
  white-space: nowrap;
  font-style: var(--body-16px-bold-font-style);
}

.about .logo-3 {
  position: absolute;
  width: 78px;
  height: 70px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about .content-3 {
  display: inline-flex;
  align-items: center;
  gap: 90px;
  position: absolute;
  top: 222px;
  left: 175px;
}

.about .overlap-group-wrapper {
  position: relative;
  width: 649px;
  height: 616px;
}

.about .overlap-group-3 {
  position: relative;
  height: 616px;
}

.about .image {
  background-color: var(--blue-100);
  border-radius: 12px;
  overflow: hidden;
  position: absolute;
  width: 599px;
  height: 566px;
  top: 0;
  left: 0;
}

.about .image-2 {
  object-fit: cover;
  position: absolute;
  width: 599px;
  height: 566px;
  top: 0;
  left: 0;
}

.about .card {
  position: absolute;
  width: 411px;
  height: 321px;
  top: 295px;
  left: 238px;
  background-color: #474747;
  border-radius: 12px;
}

.about .text-2 {
  gap: 45px;
  top: 50px;
  left: 50px;
  background-color: #474747;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.about .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--headline-h3-font-family);
  font-weight: var(--headline-h3-font-weight);
  color: var(--neutral-01);
  font-size: var(--headline-h3-font-size);
  letter-spacing: var(--headline-h3-letter-spacing);
  line-height: var(--headline-h3-line-height);
  white-space: nowrap;
  font-style: var(--headline-h3-font-style);
}

.about .info-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  position: relative;
  flex: 0 0 auto;
}

.about .div-4 {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.about .img-6 {
  position: relative;
  width: 24px;
  height: 24px;
}

.about .text-wrapper-9 {
  position: relative;
  width: 267px;
  margin-top: -1px;
  font-family: var(--body-16px-regular-font-family);
  font-weight: var(--body-16px-regular-font-weight);
  color: var(--neutral-02);
  font-size: var(--body-16px-regular-font-size);
  letter-spacing: var(--body-16px-regular-letter-spacing);
  line-height: var(--body-16px-regular-line-height);
  font-style: var(--body-16px-regular-font-style);
}

.about .title-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.about .text-wrapper-10 {
  position: relative;
  width: 557px;
  margin-top: -1px;
  font-family: "Playfair Display", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #2b2e23;
  font-size: 55px;
  letter-spacing: 0;
  line-height: 60.5px;
}

.about .nous-sommes-une {
  position: relative;
  width: 557px;
  font-family: var(--body-18px-medium-font-family);
  font-weight: var(--body-18px-medium-font-weight);
  color: #2b2e23;
  font-size: var(--body-18px-medium-font-size);
  letter-spacing: var(--body-18px-medium-letter-spacing);
  line-height: var(--body-18px-medium-line-height);
  font-style: var(--body-18px-medium-font-style);
}

.about .button-3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 32px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 118px;
  border: 1.5px solid;
  border-color: #2b2e23;
}
